<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="orbita3d_axis_control" params="name">
    <joint name="${name}">
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="effort">
        <param name="initial_value">0.0</param>
      </state_interface>

      <xacro:unless value="$(arg use_mujoco)">
        <command_interface name="position" />
      </xacro:unless>
      <xacro:if value="$(arg use_mujoco)">
        <command_interface name="position_pid" />
        <param name="position_kp">20</param>
        <param name="position_ki">10</param>
        <param name="position_kd">1</param>
        <param name="position_i_max">10000</param>
      </xacro:if>

    </joint>
  </xacro:macro>
</robot>